.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #ffb6c1;
  animation: rainbow-background 2s infinite; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes rainbow-background {
  0% {
    background-color: red;
  }
  16.666% {
    background-color: orange;
  }
  33.333% {
    background-color: yellow;
  }
  50% {
    background-color: green;
  }
  66.666% {
    background-color: blue;
  }
  83.333% {
    background-color: indigo;
  }
  100% {
    background-color: violet;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
